.display {
  height: 200px;
  width: 300px;

  .total {
    color: gold;
    font-size: 100px;
    font-weight: bold;
  }

  .current {
    color: var(--green);

    .numbers {
      display: flex;
      justify-content: center;

      .number {
        padding: 5px;
      }
    }
  }
}
