.displays {
  display: flex;
  gap: 20px;
  margin: 0 auto;
  padding: 100px;

  .display {
    background: #444;
    background: linear-gradient(-45deg, #444 0%, #404040 25%, #3a3a3a 50%, #404040 75%, #444 100%);
    border: 10px solid goldenrod;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    padding: 20px;
    text-align: center;

    .display-header {
      font-size: 36px;
      margin: 0 0 20px;
    }
  }
}
